<h1>Notificação de Atualização</h1>

<p>Caro&nbsp;<%= @estudante.nome %>,</p>

<p>O <strong><%= @entidade.nome %></strong>&nbsp;informa que houve uma alteração no status da sua solicitação da Carteira de Identificação Estudantil.</p>

<p><strong>Status atual:</strong>&nbsp;<%= @carteirinha.status_versao_impressa %></p>